{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row bg-light">
    {% if item.preview %}
    <img class="col-4 img-thumbnail m-2" src="{{ item.preview.url }}" alt="картинка">
    {% else %}
    <img class="col-4 img-thumbnail m-2" src="{% static 'core/img/default_image.jpg' %}" alt="картинка">
    {% endif %}
    <div class="col-7">
        <h1 class="text-center title-text">{{ item.name }}</h1>
        <h3>Описание:</h3>{{ item.text | safe }}
        <h3>Категория: {{ item.category }}</h3>
        <h3>Теги: {{ item.tags.all | join:", " }}</h3>

        {% if item_rating_num > 0 %}
        <h3>Средняя оценка: {{ item_rating_avg }}</h3>
        <h3>Количество оценок: {{ item_rating_num }}</h3>
        {% else %}
        <h3>Похоже этот товар еще никто не оценил...</h3>
        {% endif %}
        
        {% if request.user.is_authenticated %}
        {% if user_rating %}
        <h3>Ваша оценка: {{ user_rating }}</h3>
        <a class="btn btn-secondary" href="{% url 'rating:set_rating' item.pk %}">Изменить оценку</a>
        {% else %}
        <a class="btn btn-secondary" href="{% url 'rating:set_rating' item.pk %}">Оценить</a>
        {% endif %}
        {% endif %}
    </div>
    <div class="text-center my-3">
        <a class="btn btn-primary" href="{% url 'catalog:item_list' %}"><h3>К списку товаров</h3></a>
    </div>
</div>
{% endblock content %}