{% extends 'base.html' %}
{% load static %}

{% block content %}

<div class="row bg-light">
    {% if item.preview %}
    <img class="col-5 img-thumbnail" src="{{ item.preview.url }}" alt="картинка">
    {% else %}
    <img class="col-5 img-thumbnail" src="{% static 'core/img/default_image.jpg' %}" alt="картинка">
    {% endif %}
    <div class="col-7">
        <h1 class="text-center title-text">{{ item.name }}</h1>
        <p class="big-text">Описание:</p>{{ item.text | safe }}
        <p class="big-text">Категория: {{ item.category }}</p>
        <p class="big-text">Теги: {{ item.tags.all | join:", " }}</p>
    </div>
</div>

{% endblock content %}