{% extends 'base.html' %}

{% block content %}

{% regroup items by category.name as categories %}

{% for category in categories %}

<h1 class="title-text">{{ category.grouper }}</h1>
<div class="album py-5">
  <div class="container">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      
      {% for item in category.list %}
      {% include 'catalog/item_card.html' %}
      {% endfor %}

    </div>
  </div>
</div>

{% empty %}
<h2>Список товаров пуст</h2>

{% endfor %}

{% endblock content %}
